.N-container{
display: flex;
flex-direction: column;
}

.N-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.novedad{
    background: rgb(220, 220, 220);
    border-radius: 4px;
    padding: 5px;
}

.pagination{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination button{
    border: none;
    padding: 20px 35px;
    font-family: "poppins";
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    font-weight: bold;
}